<div class="signup-container">
  <h1>Hello, Welcome</h1>
  <h3>Create An Account</h3>
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div class="input-group">
      <label for="email">Email</label>
      <input formControlName="email" type="email" required>
      
      <label for="password">Password</label>
      <input formControlName="password" type="password">
    </div>
    <button class="submit-btn">Submit</button>
    <span>Already have an account? 
      <a href="/login">Login</a>
    </span>
  </form>
</div>
